In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
frame_df = pd.read_csv('../outputs/counts_per_frame.csv')
frame_df['Density'] = frame_df['Vehicles'] / 0.092
frame_df.head()

   Frame  Vehicles     Density
0      0        11  119.565217
1      4        11  119.565217
2      8        11  119.565217
3     12        11  119.565217
4     16        11  119.565217

In [16]:
second_df = frame_df.copy()
second_df['Seconds'] = second_df['Frame'] / 15
second_df = second_df.drop(columns=['Frame'])
second_df.head()

   Vehicles     Density   Seconds
0        11  119.565217  0.000000
1        11  119.565217  0.266667
2        11  119.565217  0.533333
3        11  119.565217  0.800000
4        11  119.565217  1.066667

In [17]:
second_df['Time'] = pd.to_timedelta(second_df['Seconds'], unit='s')
second_df = second_df.set_index('Time')
second_df.head()

                           Vehicles     Density   Seconds
Time
0 days 00:00:00                  11  119.565217  0.000000
0 days 00:00:00.266666667        11  119.565217  0.266667
0 days 00:00:00.533333332        11  119.565217  0.533333
0 days 00:00:00.800000           11  119.565217  0.800000
0 days 00:00:01.066666667        11  119.565217  1.066667

In [19]:
resample_df = second_df.resample('1s').agg({'Vehicles': 'sum', 'Density': 'mean'}).reset_index()
resample_df.head()

             Time  Vehicles     Density
0 0 days 00:00:00        44  119.565217
1 0 days 00:00:01        46  125.000000
2 0 days 00:00:02        48  130.434783
3 0 days 00:00:03        36  130.434783
4 0 days 00:00:04        48  130.434783

In [23]:
resample_df['Flow'] = resample_df['Vehicles'] * 3600
resample_df.head()

             Time  Vehicles     Density    Flow
0 0 days 00:00:00        44  119.565217  158400
1 0 days 00:00:01        46  125.000000  165600
2 0 days 00:00:02        48  130.434783  172800
3 0 days 00:00:03        36  130.434783  129600
4 0 days 00:00:04        48  130.434783  172800

In [25]:
resample_df.describe()

                            Time     Vehicles      Density           Flow
count                       5311  5311.000000  5311.000000    5311.000000
mean             0 days 00:44:15    28.732254    83.293765  103436.113726
std    0 days 00:25:33.297970606    10.501128    28.730563   37804.059989
min              0 days 00:00:00     2.000000    10.869565    7200.000000
25%       0 days 00:22:07.500000    24.000000    70.652174   86400.000000
50%              0 days 00:44:15    31.000000    89.673913  111600.000000
75%       0 days 01:06:22.500000    36.000000   103.260870  129600.000000
max              0 days 01:28:30    48.000000   130.434783  172800.000000